*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

header{
   height: 200px;
    background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
    padding: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 100%;
}
h1{
    font-family: Lexend Deca;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;

}
.buscar{
    background: #fff;
    height: 65px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    opacity: 0.5;
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;

}
input{
    flex: 1;
    height: 65px; 
    outline: none;
    border: none;
    font-size: 18px;
    padding: 5px;
   
}
input ion-icon{
    margin-right: 20px;
}
 ion-icon{
    color: #a5a5a5;
    font-size: 20px;

    cursor: pointer;
}

ion-icon:hover{
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    color: #d15858;
}
.botoes{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 1rem;
}

main{
    background: #F3F5F7;
    padding: 5rem;

}
.card{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 2rem;

}
.card .infoTopo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.card span{
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}
.card h2{
    color: #1A202C;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 1rem;
}
.card p{
    font-size: 18px;
    line-height: 32px;
    color: #717171;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr;
}



@media(max-width: 767px){
    header{
        padding: 2rem;
    }

    .buscar{
        width: fit-content;
    }
    input{
        text-align: center;
    }
    main{
        padding: 1rem;
    }
    .card{
        padding: 20px;
    }
    .card h2{
        font-size: 20px; 
        margin-bottom: 0.5rem;
    }
    .card .infoTopo{
        margin-bottom: 1rem;
    }
    .card span{
        font-size: 14px;
    }

    .card p{
        font-size: 14px;
    }

    .botoes{
        display: none;
    }

    .grid{
        grid-template-columns: 1fr;
    }

}