*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #F9F9F9;
}
.promocao{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9F9F9;
    background: #181818;
    height: 60px;
    font-weight: 500;
    font-size: 16px;
}
.titulo{
    background: #F9F9F9;
    height: 60px;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #181818;
    padding: 10px;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./img/Air-Jordan-1-Retro-High-OG-Wmns-TWIST-Feminino\ 1.png);
    height: 378px;
    background-repeat: no-repeat;
    color: #F9F9F9;
    
    background-size: cover;
    background-position: center;
    
  
}

.banner::before{
    content: "";
    background-color: rgba(4, 62, 103, 0.5);
    height: 378px;
    width: 100%;
    position: absolute;
}



.banner h1{
    color: #F9F9F9;
    font-size: 32px;
    font-weight: bold;
    padding-left: 100px;
    position: relative;
}

.banner p{
    color: #F9F9F9;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    padding-left: 100px;
    position: relative;
}
.produtos{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    gap: 15px;
    padding: 40px;
    
}
.texto{
    margin-top: 60px;
    text-align: center;
}
.texto h1{
    font-weight: 600;
    font-size: 32px;
    color: #181818
}

.texto p{
    font-weight: 500;
    font-size: 18px;
    color: #474747
}

.tenis{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #EBE9EA;
    width: 300px;
    height: 302px;
}

img{
    width: 250px;
    height: 150px;
}

@media(max-width: 767px){
.produtos{
    grid-template-columns: 1fr;
}
h1{
    font-weight: 600;
font-size: 24px;
line-height: 196.19%;
}
.promocao{
    font-weight: 500;
font-size: 16px;
line-height: 196.19%;

}
.banner h1, 
.banner p{
    padding-left: 20px;
}
.text h1,
.banner h1{
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}
}